<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>AddNotesServlet</servlet-name>
        <servlet-class>com.servlet.AddNotesServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteNotesServlet</servlet-name>
        <servlet-class>com.servlet.DeleteNotesServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateNotesServlet</servlet-name>
        <servlet-class>com.servlet.UpdateNotesServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AddNotesServlet</servlet-name>
        <url-pattern>/AddNotesServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteNotesServlet</servlet-name>
        <url-pattern>/DeleteNotesServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateNotesServlet</servlet-name>
        <url-pattern>/UpdateNotesServlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
